<header>
  <nav>
    <a>TinyApp</a>
    </button>
    <div style="justify-content: space-between">
      <div>
        <a href="/urls">My URLs</a>
        <a href="/urls/new">Create New URL</a>
      </div>
      <div class="navbar-nav">
        <% if(loggedIn) { %>
        <a href="/logout">LOGOUT</a>
        <% } else { %>
        <a href="/login">LOGIN</a>
        <% } %>
        <a href="/register">REGISTER</a>
      </div>
    </div>
  </nav>
</header>