<header>
  <nav>
    <a>TinyApp</a>
    </button>
    <div style="justify-content: space-between">
      <div>
        <% if(loggedIn) { %>
          <form action="/urls/new" method="post">
            <input type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
            <button type="submit">new URL</button>
          </form>
        <% } %>
      </div>
      <div class="navbar-nav">
        <% if(loggedIn) { %>
        <a href="/logout">LOGOUT</a>
        <% } else { %>
        <a href="/login">LOGIN</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>