<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TINYAPP LOGIN</title>
</head>
<body>
  <%- include('./partials/_header') -%>
  <div>
    <form action="/login" method="post">
      <input type="email" name="email" id="email" placeholder="EMAIL...">
      <input type="password" name="password" id="password" placeholder="PASSWORD...">
      <button type="submit">LOGIN</button>
      <button type="submit" formaction="/register">REGISTER</button>
    </form>
  </div>
</body>
</html>