<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>TINYAPP LOGIN</title>
</head>
<body>
  <%- include('./partials/_header') -%>
    <form action="/login" method="post" class="login">
      <input type="email" name="email" id="email" placeholder="EMAIL...">
      <input type="password" name="password" id="password" placeholder="PASSWORD...">
      <div class="formbutton">
        <button type="submit">LOGIN</button>
        <button type="submit" formaction="/register">REGISTER</button>
      </div>
    </form>
  </div>
</body>

</html>